button.MuiButton-containedPrimary:hover {
    color:black;
    background-color: white;
}

#cardDetail {
    margin: 30px;
    width: 70rem;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 30px;
    background-color: ghostwhite;
}

.cardDetailsBody {
    padding-top: 20%;
}

.cardDetailsTitle {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.column {
    float: left;
    width: 50%;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.cardInfo::before {
  display:block;
  content: '';
  height: 60px;
}