button.MuiButton-containedPrimary:hover {
    color:black;
    background-color: white;
}

.card {
    border: 1px solid black;
    margin: 30px;
}

.cardBody {
    padding: 30px;
}

.center {
    text-align: center;
    margin-top: 5%;
    margin-left: 33%;
}

