button.MuiButton-containedPrimary:hover {
    color:black;
    background-color: white;
}

#cardDetail {
    width: 70rem;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 30px;
    background-color: ghostwhite;
}

.cardDetailsBody {
    padding-top: 20%;
}

.cardDetailsTitle {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.column {
    float: left;
    width: 50%;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.cardContents {
    margin-top: 4%;
    margin-bottom: 2%;
}

#buyBtn {
    box-shadow: 10px 10px 8px #888888;
}