button.MuiButton-containedPrimary:hover {
    color:black;
    background-color: white;
}

#cardDetail {
    width: 70rem;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 30px;
    background-color: ghostwhite;
}

.cardDetailsBody {
    padding-top: 27%;
}

.cardDetailsBodyNone {
    padding-top: 25%;
}

.cardDetailsTitle {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.column {
    float: left;
    width: 33%;
}

.columnNone {
    float: left;
    width: 50%; 
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.cardContents {
    margin-top: 4%;
    margin-bottom: 2%;
}

#reviews {
    padding-top: 10%;
}

#reviewList {
    overflow: auto;
    height: 150px;
}

#textArea {
    min-width: 266px;
    max-height: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#emptyText {
    margin-top: 25%;
    margin-bottom: 15%;
    text-align: center;
}

#buyLink {
    text-decoration: none;
}

#errorText {
    color: red;
}