.react-multi-carousel-list {
    padding-left: 8vh;
}

.itemName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.h2Title {
    padding-bottom: 15px;
}

#suggestedCard:hover {
    box-shadow: 10px 10px 8px #888888;
}