.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c56e0;
    text-align: center;
  }
    
  nav ul li {
    display: inline-block;
  }
    
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px 16px 40px;
    text-decoration: none;
  }

  nav li a:hover {
    background-color: white;
    color: #3048cc;
  }
  
  .active {
    border-bottom: 4px solid white;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }