.productTable {
    position: absolute;
    top:  63%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    margin: 0;
    overflow-y: scroll;
    height: 65%;
    display: block;
}

.filterButton {
    width: 100px;
    height: 40px;
}

.dialogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialogContent {
    height: 10vh;
}

.MuiList-root.MuiList-padding {
    width: 200px;
    float: right;
    padding-right: 10px;
}

.searchBar {
    margin: 60px auto auto auto;
    max-width: 800px;
    min-width: 800px;
    border: 1px black solid;
} 

.searchDiv {
    display: flex;
    flex-direction: row;
}

.searchFilter {
    left: 25%;
    position: relative;
}


.pagination {
    position: relative;
    width: 35%;
    top: 100%;
    left: 35%;
    float: left;

}

.sort {
    position: relative;
    width: 30%;
    top: 85%;
    left: 25%;
}


.filterPage {
    position: absolute;
    width: 60%;
    height: 5%;
    z-index: 100;
    left: 3%;
}


.spinner {
    position: absolute;
    top: 50%;
    left: 48%;
}


