form {
    display: inline-grid;
    gap: 40px;
}

.signUpForm {
    margin: auto;
    background-color: #f3f2ff;
    padding: 20px;
    border: 2px solid black;
    width: 400px;
    height: 500px;
    border-radius: 10px;
}

.signUpBox {
    margin-top: 100px;
}