form {
    display: inline-grid;
    gap: 40px;
}

.signUpForm {
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    width: 400px;
    height: 550px;
    border-radius: 10px;
}

.signUpBox {
    margin-top: 100px;
}

form button.MuiButton-containedPrimary:hover {
    color:black;
    background-color: white;
}

