.profileDiv {
    margin-top: 100px;
}

.profileDiv h1 {
    text-align: center;
}

.viewedList, .wishList {
    display: flex;
    list-style-type: none;
    text-align:  center;
    height:10%;
    width:90%;
    overflow:scroll;
}