.searchBar {
    margin: 60px auto 10px auto;
    min-width: 800px;
    border: 1px black solid;
}

.searchDiv {
    display: inline-block;
}

.filterButton {
    width: 100px;
}

.dialogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialogContent {
    height: 10vh;
}
